body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #121212;
  color: #e0e0e0;
  width: 700px; /* Increased width */
}

.container {
  max-width: 100%; /* Ensure container takes full width */
  margin: auto;
  padding: 20px;
  background: #1e1e1e;
  border: 1px solid #333;
  border-radius: 10px;
}

h1, h2 {
  text-align: center;
  color: #ff4757;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #ff4757;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background: #e84118;
  transform: scale(1.05);
}

#pomodoro {
  text-align: center;
}

#timer {
  font-size: 2em;
  margin: 20px 0;
  color: #ff4757;
}

.poll {
  border: 1px solid #333;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background: #2f2f2f;
}

.poll h3 {
  margin: 0;
  color: #ff4757;
}

.poll div {
  padding: 5px 0;
}

button:active {
  background: #c0392b;
}

#announcement {
  margin: 20px 0;
  color: #ff4757;
}

#checkList, #healthCheckList {
  list-style-type: none;
  padding: 0;
}

#checkList li, #healthCheckList li {
  background: #2f2f2f;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

#checkList li input, #healthCheckList li input {
  margin-right: 10px;
}

